.myInfoCard {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 200px;
  border-radius: 4px;
  background: var(--solid-color);
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.myInfoCard div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: var(--transparent-color);
}

.myInfoCard div:hover {
  flex: 4;
  background-size: cover;
  background-position: center;
}

.myInfoCard div span {
  min-width: 10em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.myInfoCard div:hover span {
  transform: rotate(0);
  color: #fff;
}

.myInfoCardText {
  min-width: 100px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
  opacity: 0;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.myInfoCard div:hover .myInfoCardText {
  opacity: 1;
}

.myInfoCard div:nth-child(1):hover {
  background-image: url("https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D179942768W10000H7332/views/1,width=378,height=378,appearanceId=839,backgroundColor=F2F2F2/27-anos-de-edad-27-anos-de-oro-regalo-de-cumpleanos-numero-27.jpg");
}

.myInfoCard div:nth-child(2):hover {
  background-image: url("https://www.cepal.org/sites/default/files/styles/1920x1080/public/regionaloffice/images/buenos_aires.jpg?itok=G6IZhj58");
}

.myInfoCard div:nth-child(3):hover {
  background-image: url("https://los40es00.epimg.net/los40/imagenes/2020/01/28/album/1580198583_431629_1580203483_portada_normal.jpg");
}

.myInfoCard div:nth-child(4):hover {
  background-image: url("https://www.lavanguardia.com/files/image_948_465/uploads/2019/01/02/5fa52129a7233.jpeg");
}

































.myInfoCard01 {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 200px;
  border-radius: 4px;
  background: var(--solid-color);
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.myInfoCard01 div {
  height: 100%;
  flex: 1;
  
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: var(--transparent-color);
}

.myInfoCard01 div:hover {
  flex: 4;
  background-size: cover;
  background-position: center;
}

.myInfoCard01 div span {
  min-width: 10em;
  padding: 0.5em;
  text-align: center;
  
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.myInfoCard01 div:hover span {
  
  color: #fff;
}










.myInfoCardText01 {
  min-width: 100px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
  opacity: 0;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  
}






.myInfoCard01 div:hover .myInfoCardText {
  opacity: 1;
}

.myInfoCard01 div:nth-child(1):hover {
  background-image: url("https://user-images.githubusercontent.com/43327840/232231111-61cdf543-d423-4ca6-ae23-d22df9e2dba7.png");
}






















.myInfoCard02 {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 200px;
  border-radius: 4px;
  background: var(--solid-color);
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.myInfoCard02 div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: var(--transparent-color);
}

.myInfoCard02 div:hover {
  flex: 4;
  background-size: cover;
  background-position: center;
}

.myInfoCard02 div span {
  min-width: 10em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.myInfoCard02 div:hover span {
  transform: rotate(0);
  color: #fff;
}

.myInfoCardText02 {
  min-width: 100px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
  opacity: 0;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.myInfoCard02 div:hover .myInfoCardText {
  opacity: 1;
}

.myInfoCard02 div:nth-child(1):hover {
  background-image: url("https://user-images.githubusercontent.com/43327840/232231162-25ac7d04-97ed-4fa7-aa27-0db8311ea81b.png");
}












.myInfoCard03 {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 200px;
  border-radius: 4px;
  background: var(--solid-color);
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.myInfoCard03 div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: var(--transparent-color);
}

.myInfoCard03 div:hover {
  flex: 4;
  background-size: cover;
  background-position: center;
}

.myInfoCard03 div span {
  min-width: 10em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.myInfoCard03 div:hover span {
  transform: rotate(0);
  color: #fff;
}

.myInfoCardText03 {
  min-width: 100px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
  opacity: 0;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.myInfoCard03 div:hover .myInfoCardText {
  opacity: 1;
}

.myInfoCard03 div:nth-child(1):hover {
  background-image: url("https://user-images.githubusercontent.com/43327840/232231232-a11db100-c025-42ad-a7ae-40d55ed169a4.png");
}


















.myInfoCard04 {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 200px;
  border-radius: 4px;
  background: var(--solid-color);
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.myInfoCard04 div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: var(--transparent-color);
}

.myInfoCard04 div:hover {
  flex: 4;
  background-size: cover;
  background-position: center;
}

.myInfoCard04 div span {
  min-width: 10em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 0.1em;
}

.myInfoCard04 div:hover span {
  transform: rotate(0);
  color: #fff;
}

.myInfoCardText04 {
  min-width: 100px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding: 10px 5px;
  font-size: 12px;
  opacity: 0;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.myInfoCard04 div:hover .myInfoCardText {
  opacity: 1;
}

.myInfoCard04 div:nth-child(1):hover {
  background-image: url("https://user-images.githubusercontent.com/43327840/232231293-d9417daf-5c3d-4b4b-8b37-9c8ad43bbdb9.png");
}